.vscode/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
Helix_30_R3.csv

# Flexodeal
flexodeal
2024*/
output*/
2025*/
Helix*/
